{% extends 'base.html' %}
{% block title %} - New Planet{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>New Planet</h3>
        <hr>
        <form action="{{ url_for('locations.new_planet') }}" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text" for="name">Planet Name</span>
                <input type="text" class="form-control" id="name" name="name" placeholder="Planet Name">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" for="system">System</span>
                <select class="form-control" id="system" name="system">
                    {% for system in systems %}
                    <option value="{{ system.name }}">{{ system.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" for="type">Planet Type</span>
                <input type="text" class="form-control" id="type" name="type" placeholder="Planet Type">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" for="gravity">Gravity</span>
                <input type="text" class="form-control" id="gravity" name="gravity" placeholder="Gravity">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" for="temperature">Temperature</span>
                <input type="text" class="form-control" id="temperature" name="temperature" placeholder="Temperature">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" for="atmosphere">Atmosphere</span>
                <input type="text" class="form-control" id="atmosphere" name="atmosphere" placeholder="Atmosphere">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" for="magnetosphere">Magnetosphere</span>
                <input type="text" class="form-control" id="magnetosphere" name="magnetosphere" placeholder="Magnetosphere">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" for="fauna">Fauna</span>
                <input type="number" class="form-control" id="fauna" name="fauna" placeholder="Fauna">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" for="flora">Flora</span>
                <input type="number" class="form-control" id="flora" name="flora" placeholder="Flora">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" for="water">Water</span>
                <input type="text" class="form-control" id="water" name="water" placeholder="Water">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" for="resources">Resources</span>
                <select multiple class="form-control" id="resources" name="resources" multiple data-allow-new="true">
                    <option selected disabled hidden value="">Add resources...</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" for="traits">Traits</span>
                <select multiple class="form-control" id="traits" name="traits" multiple data-allow-new="true">
                    <option selected disabled hidden value="">Add traits...</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" for="moons">Moons</span>
                <select multiple class="form-control" id="moons" name="moons" multiple data-allow-new="true">
                    <option selected disabled hidden value="">Add moons...</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Planet Description</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
{% block custom_scripts %}
<link rel="stylesheet" href="https://cdn.rawgit.com/xcatliu/simplemde-theme-dark/master/dist/simplemde-theme-dark.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("description") });
</script>
<script src="https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-tags@master/tags.js"></script>
<script type="module">
    import Tags from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-tags@master/tags.js";
    Tags.init("#resources");
    Tags.init("#traits");
    Tags.init("#moons");
</script>
{% endblock %}