{% extends 'base.html' %}
{% block title %} - {{ system.name }} System{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="bannertron" style="background-image: url('{{ static_url }}/{{ system.banner }}');">
            <div class="bannertron-overlay">
                <div class="row">
                    <div class="col-12">
                        <h2>
                            {{ system.name }} System
                        </h2>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li>Level: {{ system.level }}</li>
                            <li>Spectral Class: {{ system.class }}</li>
                            <li>Catalogue ID: {{ system.catalogue_id }}</li>
                            <li>Temperature: {{ system.temperature }}</li>
                            <li>Mass: {{ system.mass }}</li>
                            <li>Radius: {{ system.radius }}</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li>Magnitude: {{ system.magnitude }}</li>
                            <li>Planet Count: {{ system.planet_count }}</li>
                            <li>Moon Count: {{ system.moon_count }}</li>
                            <li>Controlling Faction: {{ system.faction }}</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <a href="{{ url_for('locations.edit_system', system_name=system.name) }}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    {% for planet in planets %}
    <div class="col-md-3 col-xs-12">
        <div class="card">
            <div class="card-header">
                {{ planet.name }}
            </div>
            <div class="card-body">
                <p class="card-text">{{ planet.description }}</p>
                <p class="card-text">{{ planet.resources|join(', ') }}</p>
                <a href="{{ url_for('locations.planet', system=system.name, planet=planet.name) }}" class="stretched-link"></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
